/*  FUENTES GOOGLE FONTS
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif; */
*{
    padding: 0;
    margin: 0;  
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    border: 3px #103058 solid;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em
}
h2{
    font-size: 1.7em;
    margin-right: 10px;
    font-weight: 600;
}
 hr{ 
   height: 1px; 
   background-color:#000; 
   border:none;
   width: 100%;
   margin: auto 0 auto auto;
   
 } 
.header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.datos-personales {
    margin: 10px;
    font-size: .9em  
}
.linea-gruesa{
    background-color:#103058;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    padding: 2px;
}
.main {
    display: flex;
    flex-direction: column;   
}
.section {
    padding: 20px;
    -webkit-box-shadow: 1px 2px 1px 0px rgba(50, 50, 50, 0.05);
    -moz-box-shadow:    1px 2px 1px 0px rgba(50, 50, 50, 0.05);
    box-shadow:         1px 2px 1px 0px rgba(50, 50, 50, 0.05);
}
.col-1 {
    display: flex;
    flex-direction: column;      
}
.col-2 {
    display: flex;
    flex-direction: column;    
}
.col-1 img{
    width: 90%;
    display: block;
    margin: auto;
    max-width: 500px
}
.titulo-linea{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.software{
    display: flex;
    flex-direction: column;

}
.software2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.intereses img{
    padding: 10px;
}
.logo-software{
    min-width: 32px;
    padding: 5px;
}
.barra-habilidad{
    width: 50%;
    max-height: 4px;
    padding: 5px;
}
.alinear-logo-nombre{
    font-size: .8em;
    display: flex;
    align-items: center;
}
.resaltado {
    color: #264e82;
    font-weight: bold;
}
.margen-superior-izquierdo{
    margin-top: .5em;
    margin-left: 1em;
}
.social{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.social a{
    padding: 0 5%;
}
form {
   max-width: 600px;
   text-align: center;
   margin: auto;
   padding: 0 5% 20px 5%;
}
  
  input, textarea {
     border:0;
     padding: 1em;
     display: block;
     margin-top: 1em;
	 background-color: #F4FAFF;
}
  
  #input-submit {
     background-color: #C1E0FF;
     cursor: pointer;
	 width: 100%;
  }
  textarea {
      height: 126px;
  }
  .formulario{
	  display: flex;
	  flex-direction: column;
}
@media (min-width: 768px){
    .col-1 {
        width: 50%;   
}
.col-2 {
        width: 50%;     
}
    .main {
        width:95%;
        margin:auto;
        flex-direction: row;   
}   
    body{
    border: 10px #103058 solid;
}
    .linea-gruesa{
    margin-bottom: 15px;
}
    .header {
    padding: 20px 0;
}
    .barra-habilidad{
    width: 60%;
}
}
@media (min-width: 1080px){
    .barra-habilidad{
    width: 75%;
}
    .main {
        width:95%;  
}   
    body{
    border: 15px #103058 solid;
}
    .col-1 {
        margin-right: 20px;
}
    .col-2 {
    margin-left: 20px;      
}
    .linea-gruesa{
    margin-bottom: 25px;
}
    }
    .header {
    padding: 30px 0;
}
}
